.flash-message-container {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.flash-message {
    display: flex;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}

.success {
    background-color: #4CAF50;
    color: white;
}

.error {
    background-color: #F44336;
    color: white;
}
